.pagination {
       text-align: center;
       margin-top: 30px;
}

.pagination li {
       border: 1px solid orange !important;
       border-radius: 20px !important;
}

.pagination a {
       color: orange !important;
}

.pagination span {
       color: orange !important;
}

 .pagination .ant-pagination-item-active {
       background-color: orange !important;
}


// .pagination li:hover {
//        background-color: orange !important;
//        color: #fff !important; 
// }